* {
    font-family:Verdana, Geneva, sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
  color: #626970;
  margin: 10px 0 10px 0;
  text-align: center;
  font-weight: normal;
  font-size: 5vw;
}

#container {
  margin: 0 auto;
  max-width: 1024px;
  min-width: 300px;
  width: 95%
}

#screen, #bits {
  width: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

#screen{
  background-color: white;
  border-color: #626970;
  border: solid;
  margin-bottom: 10px;
  padding: 5px;
  text-align: right;
}

#equation {
  color: #626970;
  height: 30vw;
  font-size: 3vw;
}

#display {
  height: 6vw;
  font-size: 5vw;
}

#bits {
  background-color: #4CAF50;
  color: white;
  height: 45vw;
  margin-bottom: 10px;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  font-size: 4.8vw;
  line-height: 1vw;
}

#bits_topleft, #bits_bottomleft, #bits_topright, #bits_bottomright{
  width: 100%;
  margin: 2.5vw 0;
}

.bits4, #bits_topleft, #bits_bottomleft, #numbers{
  float:left;
}

#bits_topright, #bits_bottomright, #operators{
  float:right;
}

.bits4{
  width:25%;
}

.bit_name{
  color: #595959;
  float:bottom;
  text-align: left;
  font-size: 1.5vw;
  padding-left: 2vw;
  margin-top: 5vw;
}

#numbers, #operators {
  width: 50%;
  height: 55vw;
}

.number, .operator {
  background-color: #626970;
  color: white;
  display: block;
  width: 31%;
  height: 25%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  float: left;
  text-align: center;
  font-size: 5vw;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  outline:none;
}

.number {
  margin: 1% 2% 1% 0 ;
}
.operator {
  margin:  1% 0 1% 2%;
}
.number:hover, .operator:hover, .bit_select:hover {
  background-color: #828a93;
}

#zero {
  width: 64%;
}

#back {
  background-color: #ff9844;
}

#back, #zero_shiftr {
  font-size: 2.5vw;
}


#back.operator:hover {
  background-color: #ffb77c;
}

#C, #CE{
  background-color: #44a7ff;
}

#C.operator:hover, #CE.operator:hover {
  background-color: #72bcff;
}
